version: "3.9"
services:
  extractor-api:
    build:
      context: .
      target: dev
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    restart: unless-stopped
    networks:
      - extractor-net

networks:
  extractor-net:
    driver: bridge